$search-box-background-color: rgb(157, 157, 157);

@mixin no-background-no-border {
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.search-box {
    background-color: $search-box-background-color;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;

    &__input-media {
        flex-grow: 1;
        background-color: $search-box-background-color;
    }

    &__audio-visual-controls {
        display: flex;
        flex-direction: row;
    }
}